<!DOCTYPE html>
<html>
<head>
    <title>Questions</title>
    <link rel="icon" href="icon-1-50.png">
    <link rel="stylesheet" href="/stylePilot.css">
</head>
<body>
<header>
    <div class="left">
        <a href="/how-to-play" class="menu-item" data-lang-key="howToPlay">How To Play</a>
    </div>
    <div class="right">
        <div class="user-info">
            <div class="currency">
                <img src="/coin.png" alt="Monedas" class="icon">
                <span><%= @current_user ? @current_user.cant_coins : 0 %></span>
            </div>
            <div class="lives">
                <img src="/heart.png" alt="Vidas" class="icon">
                <span><%= @current_user ? @current_user.cant_life : 0 %></span>
            </div>
            <div class="profile">
                <img src="/pilot.png" alt="Profile" class="profile-pic" onclick="toggleProfileMenu()">
                <div id="profile-menu" class="profile-menu">
                    <a href="/profile" data-lang-key="profile">Profile</a>
                    <div class="change-language" onclick="toggleLanguage()">
                        <span data-lang-key="changeLanguage">Change Language</span>
                        <img src="/argentina.png" alt="Idioma" class="language-flag">
                    </div>
                    <a href="/logout" data-lang-key="logout">Log out</a>
                </div>
            </div>
        </div>
    </div>
</header>
<main>
    <div class="question-container">
    <% if feedback_message %>
        <div style="color: <%= feedback_color %>;">
            <p><%= feedback_message %></p>
            <form action="/gamemodes/progressive/pilot" method="get">
                <button type="submit">Next</button>
            </form>
        </div>
    <% else %>
        <h2><%= @question.name_question %></h2>
        <form action="/gamemodes/progressive/pilot" method="post">
            <% @options.each do |option| %>
                <div class="option">
                    <input type="radio" id="option_<%= option.id %>" name="option_id" value="<%= option.id %>">
                    <label for="option_<%= option.id %>"><%= option.name_option %></label>
                </div>
            <% end %>
            <input type="hidden" name="question_id" value="<%= @question.id %>">
            <button type="submit">Submit</button>
        </form>
    <% end %>
    </div>
</main>
<script>
function toggleProfileMenu() {
    var menu = document.getElementById('profile-menu');
    menu.style.display = menu.style.display === 'block' ? 'none' : 'block';
}

function toggleLanguage() {
    var currentFlag = document.querySelector('.language-flag');
    var newLang = currentFlag.src.includes('argentina.png') ? 'en' : 'es';
    var newFlag = newLang === 'en' ? 'usa.png' : 'argentina.png';
    currentFlag.src = newFlag;

    // Update text content according to selected language
    updateLanguage(newLang);
}

function updateLanguage(lang) {
    const elements = document.querySelectorAll('[data-lang-key]');
    elements.forEach(el => {
        const key = el.getAttribute('data-lang-key');
        el.textContent = translations[lang][key];
    });
}

</script>
</body>
</html>
