<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/styleAddQuestion.css">
    <link rel="stylesheet" href="/fontawesome/css/all.min.css">
    <link rel="icon" href='/icons/icon-1-50.png'>
    <title>Add Question</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        setTimeout(function() {
            var flashMessages = document.querySelectorAll('.flash');
            flashMessages.forEach(function(message) {
                message.style.display = 'none';
            });
        }, 5000);

        function toggleProfileMenu() {
            var menu = document.getElementById('profile-menu');
            menu.style.display = menu.style.display === 'block' ? 'none' : 'block';
        }

        function toggleQuestionInput() {
            var questionType = document.getElementById("question-type").value;
            var themeSelect = document.getElementById("theme");

            if (questionType === "text") {
                document.getElementById("text-question").style.display = "block";
                document.getElementById("image-question").style.display = "none";
                themeSelect.disabled = false;
            } else {
                document.getElementById("text-question").style.display = "none";
                document.getElementById("image-question").style.display = "block";
            }
        }

        document.addEventListener("DOMContentLoaded", function() {
            toggleQuestionInput();
        });

        function previewImage(event) {
            var reader = new FileReader();
            reader.onload = function() {
                var output = document.getElementById('image-preview');
                output.src = reader.result;
                output.style.display = 'block';
            }
            reader.readAsDataURL(event.target.files[0]);
        }
    </script>
</head>
<body>
    <header>
        <div class="left">
            <a href="/profile" class="menu-item" id="back"> <i class="fa-solid fa-arrow-left"> </i></a>
        </div>
        <div class="right">
            <div class="user-info">
                <div class="points">
                    <% if @current_user.admin %>
                        <i class="fa-solid fa-star"></i>
                    <% end %>
                </div>
                <div class="currency">
                    <img src="/icons/coin.png" alt="Monedas" class="icon">
                    <span><%= @current_user ? @current_user.cant_coins : 0 %></span>
                </div>
                <div class="lives">
                    <img src="/icons/heart.png" alt="Vidas" class="icon">
                    <span id="lives-count"><%= @current_user ? @current_user.cant_life : 0 %></span>
                </div>
                <div class="points">
                    <img src="/icons/points.png" alt="Vidas" class="icon">
                    <span id="points-count"><%= @current_user ? @current_user.total_points : 0 %></span>
                </div>
                <div class="profile">
                    <img src="<%= profile.profile_picture %>" alt="Profile" class="profile-pic" onclick="toggleProfileMenu()">
                    <div id="profile-menu" class="profile-menu">
                        <a href="/profile" class="goProfile"> <i class="fa-solid fa-circle-user"></i> Profile</a>
                        <a href="/logout" class="goLogout"> <i class="fa-solid fa-circle-xmark"></i> Log out</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="profile-container">
            <div class="add-question">
                <% if flash[:success] %>
                    <div class="flash success">
                        <%= flash[:success] %>
                    </div>
                <% elsif flash[:error] %>
                    <div class="flash error">
                        <%= flash[:error] %>
                    </div>
                <% end %>
                <h3>Add New Question</h3>
                <form action="/profile/add-question" method="post" enctype="multipart/form-data">
                    <label for="question-type">Question Type:</label>
                    <select id="question-type" name="question_type" onchange="toggleQuestionInput()" required>
                        <option value="text">Text</option>
                        <option value="image">Image</option>
                    </select>

                    <div id="text-question" style="display: block;">
                        <label for="question">Question (Text):</label>
                        <input type="text" id="question" name="question_text">
                    </div>

                    <div id="image-question" style="display: none;">
                        <label for="question-image" class="custom-file-upload">
                            <i class="fas fa-cloud-upload-alt"></i> Upload Image
                        </label>
                        <input type="file" id="question-image" name="question_image" accept="image/*" onchange="previewImage(event)">

                        <img id="image-preview" src="#" alt="Image Preview">
                    </div>


                    <label for="option1">Option 1:</label>
                    <input type="text" id="option1" name="option1" required>
                    <label for="option2">Option 2:</label>
                    <input type="text" id="option2" name="option2" required>
                    <label for="option3">Option 3:</label>
                    <input type="text" id="option3" name="option3" required>
                    <label for="option4">Option 4:</label>
                    <input type="text" id="option4" name="option4" required>

                    <label for="correct-answer">Correct Answer:</label>
                    <select id="correct-answer" name="correct_answer" required>
                        <option value="option1">Option 1</option>
                        <option value="option2">Option 2</option>
                        <option value="option3">Option 3</option>
                        <option value="option4">Option 4</option>
                    </select>

                    <label for="difficulty">Difficulty:</label>
                    <select id="difficulty" name="difficulty" required>
                        <option value="easy">Easy</option>
                        <option value="normal">Normal</option>
                        <option value="difficult">Difficult</option>
                        <option value="impossible">Impossible</option>
                    </select>

                    <label for="theme">Theme:</label>
                    <select id="theme" name="theme" required>
                        <option value="circuit">Circuit</option>
                        <option value="team">Team</option>
                        <option value="career">Career</option>
                        <option value="pilot">Pilot</option>
                        <option value="free">Free</option>
                        <option value="grandprix">Grandprix</option>
                    </select>

                    <button type="submit" class="add-question-btn">Add Question</button>
                </form>
            </div>
        </div>
    </main>
</body>
</html>
