<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styleProfile.css">
</head>
<body>
    <header>
        <h1>Profile of <%= profile.name %> <%= profile.lastName %></h1>
        <div class="back-to-menu">
            <a href="/gamemodes">Back</a>
        </div>
    </header>
    <main>
        <div class="profile-info">
            <p><strong>Name:</strong> <%= profile.name %> <%= profile.lastName %></p>
            <p><strong>Description:</strong> <%= profile.description %></p>
            <p><strong>Age:</strong> <%= profile.age %> years</p>
            <p><strong>Pilot percentage: </strong> <%= countPi %>%</p>
            <p><strong>Circuit percentage: </strong> <%= countCi %>%</p>
            <p><strong>Career percentage: </strong> <%= countCa %>%</p>
            <p><strong>Team percentage: </strong> <%= countTe %>%</p>

            <p><strong>Total percentage: </strong> <%= countTotal %>%</p>
        </div>
    </main>
</body>
</html>
